$base_font: "Helvetica Neue";
$font_color: #707070;

body {
  font-family: $base_font;
  color: $font_color;
  margin: 0;
}

.wrapper {
  width: 1300px;
  margin: 0 auto;
}

.homeheader {
  width: 1300px;
  height: 851px;
  background-image: url("../img/main.png");
  background-repeat: no-repeat;
  overflow: hidden;

  h1.home {
    width: 854px;
    height: 70px;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    text-indent: -9999px;
    margin: 673px auto 0;
  }
}

ul.nav {
  width: 930px;
  font-size: 21px;
  display: flex;
  justify-content: space-between;
  margin: 47px auto;

  li {
    text-align: center;
  }

  img {
    margin-top: 17px;
  }

  a {
    text-decoration: none;
    color: $font_color;

    &:hover {
      text-decoration: underline;
    }
  }
}

article {
  width: 1300px;
  height: 772px;

  ul.naiyou {
    width: 792px;
    height: 429px;
    float: left;
    border-top: 1px $font_color solid;
    padding-left: 116px;

    p {
      font-family: "InaiMathi";
      font-size: 20px;
      line-height: 42px;

      span {
        margin-left: 25px;
      }
    }

    h2 {
      font-size: 30px;
      padding-top: 82px;
      margin-bottom: 33px;
    }
  }

  ul.aside {
    width: 311px;
    height: 694px;
    float: right;
    margin-top: 19px;
    margin-right: 58px;

    li {
      text-align: center;
    }

    li.douga {
      margin-top: 118px;
    }
  }
}

#page-top {
  font-size: 0;
  position: fixed;
  bottom: 16px;
  right: 90px;
  opacity: 0;
}

#page-top.fade-in {
  color: #000;
  font-size: 60px;
  opacity: 0.6;
  transition: opacity 1s;
}


footer {
  width: 1300px;
  height: 324px;
  font-size: 22px;
  color: #fff;
  background-color: #C6BDBD;
  overflow: hidden;

  ul.footernav {
    width: 902px;
    display: flex;
    justify-content: space-between;
    margin: 36px auto 0;
  }

  p {
    font-size: 18px;
    text-align: center;
    margin-top: 218px;
  }
}
//////////////////////////////////////////
//////////////////////////////////////////
//////////////////////////////////////////
//////////////////////////////////////////
//////////////////////////////////////////
//////////////////////////////////////////
//ここからproduct

.productheader {
  width: 1300px;
  height: 128px;
  background-color: #C6BDBD;
  overflow: hidden;

  h1.product {
    width: 389px;
    height: 31px;
    background-image: url("../img/logo2.png");
    background-repeat: no-repeat;
    text-indent: -9999px;
    margin: 52px auto 0;
  }
}

.menu {
  width: 1176px;
  height: 1420px;
  margin: 106px auto 0;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        color: #EA5810;
      }
    }

    li p:after {
      display: block;
      content: 'ワイヤフレームライト';
      font-size: 20px;
      font-weight: bold;
      text-align: center;
    }

    img {
      margin-bottom: 24px;
    }

    p {
      width: 233px;
      height: 63px;
      margin: 0 auto 44px;
      font-size: 30px;
      font-weight: bold;
    }

    p.color1 {
      color: #DD7936;
    }

    p.color2 {
      color: #77B4D7;
    }

    p.color3 {
      color: #AAAAAA;
    }

    p.color4 {
      color: #EA5810;
    }

    p.color5 {
      color: #D1A061;
    }

    p.color6 {
      color: #C19366;
    }

    p.color7 {
      color: #A5A9AD;
    }

    p.color8 {
      color: #77B4D7;
    }

    p.color9 {
      color: #F8C184;
    }
  }
}
//////////////////////////////////////////
//////////////////////////////////////////
//////////////////////////////////////////
//////////////////////////////////////////
//////////////////////////////////////////
//////////////////////////////////////////
//ここからwire
.main {
  width: 1300px;
  height: 1207px;
  color: #7B6565;
  font-weight: bold;
  margin-top: 136px;

  ul.img {
    float: left;
    text-align: center;
  }

  ul.setumei {
    width: 466px;
    height: 498px;
    float: right;
    margin-right: 102px;

    li.fontcenter {
      margin-top: 97px;
      line-height: 23px;
      margin-left: 96px;
    }
  }

  h3 {
    font-size: 55px;
    text-align: center;
  }

  li h3:after {
    display: block;
    content: 'ワイヤフレームライト';
    font-size: 37px;
    font-weight: bold;
  }
}

ul.syousai {
  width: 561px;
  height: 342px;
  float: right;
  font-size: 14px;
  line-height: 25px;

  li.cyuui {
    margin-top: 36px;
  }
}

section {
  width: 1300px;
  height: 696px;
  background-color: #C6BDBD;
  color: #fff;

  ul.konpakuto {
    width: 576px;
    height: 200px;
    float: left;
    margin: 59px 0 61px 55px;

    li {
      p {
        font-size: 18px;
        line-height: 23px;
      }

      p.fontbig {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 51px;
      }
    }
  }

  ul.konpakutoimg {
    float: right;
    margin: 34px 50px 61px 0;
  }

  ul.furemuimg {
    float: left;
    margin-left: 55px;
  }

  ul.furemu {
    width: 571px;
    height: 239px;
    float: right;
    margin: 34px 54px 68px 0;

    li {
      p {
        font-size: 18px;
        line-height: 23px;
        float: left;
      }

      p.fontbig {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 51px;
        float: right;
      }
    }
  }
}

aside {
  width: 1300px;
  height: 639px;

  p {
    font-size: 32px;
    font-weight: bold;
    color: #907D7D;
    margin-top: 62px;
    margin-left: 55px;
  }

  img {
    margin-top: 36px;
    margin-left: 84px;
  }
}
