@charset "UTF-8";
body {
  font-family: "Helvetica Neue";
  color: #707070;
  margin: 0;
}

.wrapper {
  width: 1300px;
  margin: 0 auto;
}

.homeheader {
  width: 1300px;
  height: 851px;
  background-image: url("../img/main.png");
  background-repeat: no-repeat;
  overflow: hidden;
}

.homeheader h1.home {
  width: 854px;
  height: 70px;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  text-indent: -9999px;
  margin: 673px auto 0;
}

ul.nav {
  width: 930px;
  font-size: 21px;
  display: flex;
  justify-content: space-between;
  margin: 47px auto;
}

ul.nav li {
  text-align: center;
}

ul.nav img {
  margin-top: 17px;
}

ul.nav a {
  text-decoration: none;
  color: #707070;
}

ul.nav a:hover {
  text-decoration: underline;
}

article {
  width: 1300px;
  height: 772px;
}

article ul.naiyou {
  width: 792px;
  height: 429px;
  float: left;
  border-top: 1px #707070 solid;
  padding-left: 116px;
}

article ul.naiyou p {
  font-family: "InaiMathi";
  font-size: 20px;
  line-height: 42px;
}

article ul.naiyou p span {
  margin-left: 25px;
}

article ul.naiyou h2 {
  font-size: 30px;
  padding-top: 82px;
  margin-bottom: 33px;
}

article ul.aside {
  width: 311px;
  height: 694px;
  float: right;
  margin-top: 19px;
  margin-right: 58px;
}

article ul.aside li {
  text-align: center;
}

article ul.aside li.douga {
  margin-top: 118px;
}

#page-top {
  font-size: 0;
  position: fixed;
  bottom: 16px;
  right: 90px;
  opacity: 0;
}

#page-top.fade-in {
  color: #000;
  font-size: 60px;
  opacity: 0.6;
  transition: opacity 1s;
}

footer {
  width: 1300px;
  height: 324px;
  font-size: 22px;
  color: #fff;
  background-color: #C6BDBD;
  overflow: hidden;
}

footer ul.footernav {
  width: 902px;
  display: flex;
  justify-content: space-between;
  margin: 36px auto 0;
}

footer p {
  font-size: 18px;
  text-align: center;
  margin-top: 218px;
}

.productheader {
  width: 1300px;
  height: 128px;
  background-color: #C6BDBD;
  overflow: hidden;
}

.productheader h1.product {
  width: 389px;
  height: 31px;
  background-image: url("../img/logo2.png");
  background-repeat: no-repeat;
  text-indent: -9999px;
  margin: 52px auto 0;
}

.menu {
  width: 1176px;
  height: 1420px;
  margin: 106px auto 0;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu ul a {
  text-decoration: none;
}

.menu ul a:hover {
  text-decoration: underline;
  color: #EA5810;
}

.menu ul li p:after {
  display: block;
  content: 'ワイヤフレームライト';
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.menu ul img {
  margin-bottom: 24px;
}

.menu ul p {
  width: 233px;
  height: 63px;
  margin: 0 auto 44px;
  font-size: 30px;
  font-weight: bold;
}

.menu ul p.color1 {
  color: #DD7936;
}

.menu ul p.color2 {
  color: #77B4D7;
}

.menu ul p.color3 {
  color: #AAAAAA;
}

.menu ul p.color4 {
  color: #EA5810;
}

.menu ul p.color5 {
  color: #D1A061;
}

.menu ul p.color6 {
  color: #C19366;
}

.menu ul p.color7 {
  color: #A5A9AD;
}

.menu ul p.color8 {
  color: #77B4D7;
}

.menu ul p.color9 {
  color: #F8C184;
}

.main {
  width: 1300px;
  height: 1207px;
  color: #7B6565;
  font-weight: bold;
  margin-top: 136px;
}

.main ul.img {
  float: left;
  text-align: center;
}

.main ul.setumei {
  width: 466px;
  height: 498px;
  float: right;
  margin-right: 102px;
}

.main ul.setumei li.fontcenter {
  margin-top: 97px;
  line-height: 23px;
  margin-left: 96px;
}

.main h3 {
  font-size: 55px;
  text-align: center;
}

.main li h3:after {
  display: block;
  content: 'ワイヤフレームライト';
  font-size: 37px;
  font-weight: bold;
}

ul.syousai {
  width: 561px;
  height: 342px;
  float: right;
  font-size: 14px;
  line-height: 25px;
}

ul.syousai li.cyuui {
  margin-top: 36px;
}

section {
  width: 1300px;
  height: 696px;
  background-color: #C6BDBD;
  color: #fff;
}

section ul.konpakuto {
  width: 576px;
  height: 200px;
  float: left;
  margin: 59px 0 61px 55px;
}

section ul.konpakuto li p {
  font-size: 18px;
  line-height: 23px;
}

section ul.konpakuto li p.fontbig {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 51px;
}

section ul.konpakutoimg {
  float: right;
  margin: 34px 50px 61px 0;
}

section ul.furemuimg {
  float: left;
  margin-left: 55px;
}

section ul.furemu {
  width: 571px;
  height: 239px;
  float: right;
  margin: 34px 54px 68px 0;
}

section ul.furemu li p {
  font-size: 18px;
  line-height: 23px;
  float: left;
}

section ul.furemu li p.fontbig {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 51px;
  float: right;
}

aside {
  width: 1300px;
  height: 639px;
}

aside p {
  font-size: 32px;
  font-weight: bold;
  color: #907D7D;
  margin-top: 62px;
  margin-left: 55px;
}

aside img {
  margin-top: 36px;
  margin-left: 84px;
}
